.descripcion{
    text-align: justify;
    width: 80%;
    font-size: 1.2rem;
}
.fotoPerfil{
    width: 400px;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 780px){
    .fotoPerfil {
        width: 200px;
    }
    .about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .descripcion{
        font-size: 1rem;
        width: 100%;
    }
    .descripcion{
        font-size: 1rem;
    }
}